# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment secrets
.env
.env.local

# Dynamic local storage / runtime databases
articles/*.json
!articles/.gitkeep
!articles/1721538000001.json
!articles/1721538000002.json
!articles/1721538000003.json

# System OS files
.DS_Store
Thumbs.db

# Ignore session storage files
sessions/